.login_bg {
    background-image: url(../../images/water_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login_glass {
    background: linear-gradient(to bottom, rgb(42,153,255, 0.6), rgba(113, 167, 248, 0.6));
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}