.home_bg {
    /* background-image: url(../../images/3d-abstract-background-with-wall-extruding-cubes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background:  #2a98ffdd;
}