.home_bg {
    /* background-image: url(../../images/3d-abstract-background-with-wall-extruding-cubes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    background:  linear-gradient(to right, rgb(55, 111, 233), #2a98ffdd);
}